<!DOCTYPE html>
<html lang="en">
{% extends 'crm/base.html' %}
{% load static %}
{% block content %}
   <body>
   {% if user.is_authenticated %}
       <div class="page-container">

           <h2 class="top-menu">Welcome to the Omaha area board game swap site!</h2>
           <p>Please choose from below options.</p>
       </div>
   {% endif %}
   <div class="content container">
       <div class="row">
           <div class="col-md-12">
               <div class="links">
                   <!-- Example row of columns -->
                   <div class="row">
                       <div class="col-md-3">
                           <div class="thumbnail">
                               <img src="{% static "images/customer.jpg" %}" alt="User"/>
                               <div class="caption">
                                   <h2>Users</h2>
                                   <p>A list of all users on this site</p>
                                   <p><a class="btn btn-primary" href="{% url 'crm:user_list' %}"
                                         role="button">View
                                       details &raquo;</a></p>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="thumbnail">
                               <img src="{% static "images/Games.jpg" %}" alt="games"/>
                               <div class="caption">
                                   <h2>Boardgames</h2>
                                   <p>A list of all board games added to this site</p>
                                   <p><a class="btn btn-primary" href="{% url 'crm:boardgames_list' %}"
                                         role="button">View
                                       details &raquo;</a></p>
                               </div>
                           </div>
                       </div>

                   </div>
               </div>
           </div>
       </div>
   </div>
   </body>

{% endblock %}

</html>
