{% extends 'crm/base.html' %}
{% block content %}
{% load mathfilters %}
{% load humanize %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    SAMPLE TEXT SAMPLE TEXT
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <h1 style="padding-left: 15Px">User Summary for {{ user.user_name }}</h1>


    <div class="row">
        <h2 style="padding-left: 15Px">Board Game Information</h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Title</th>
                <th>Genre</th>
                <th>BGG Rank</th>
                <th>Minimum Players</th>
                <th>Maximum Players</th>
                <th>MSRP</th>

            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ boardgames.boardgames_title }}</td>
                    <td>{{ boardgames.boardgames_genre }}</td>
                    <td>{{ boardgames.boardgames_BGG_rank }}</td>
                    <td>{{ boardgames.boardgames_player_count_min }}</td>
                    <td>{{ boardgames.boardgames_player_count_max }}</td>
                    <td>{{ boardgames.boardgames_player_count_max }}</td>
                    <td>${{ boardgames.boardgames_msrp }}</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="bg-info">
                <th>Total of Product Charges</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{ sum_product_charge.charge__sum|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
