{% extends 'crm/base.html' %}
{% block content %}
{% load mathfilters %}
{% load humanize %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    Here you can see this users profile and a list of the games on their want lists and trade lists.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    {% for user in users %}
  <h1 style="padding-left: 15Px">User Detail for {{ user.username }}</h1>
    {% endfor %}

    <div class="row">
        <h2 style="padding-left: 15Px">Specific User Information</h2>
    </div>

    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                {%  if request.user.is_superuser %}
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    {%  if request.user.is_superuser %}
                    <td>{{ user.crmuser.address }}</td>
                    <td>{{ user.crmuser.city }}</td>
                    <td>{{ user.crmuser.state }}</td>
                    <td>{{ user.crmuser.zipcode }}</td>
                    <td>{{ user.crmuser.phone_number }}</td>
                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
    <table class="table table-striped table-bordered table-hover">
        {% for user in users %}
        <h2 style="padding-left: 15Px">{{ user.username }}'s Board Games for Trade</h2>
        {% endfor %}
            <thead>
            <tr class="bg-info">
                <th>Board Game Title</th>
                <th>Board Game Condition</th>
                <th>Board Game Notes</th>
                <th>Date Created</th>
                <th>Date Updated</th>
            </tr>
            </thead>
                <tbody>
                {% for boardgames in BoardgamesAvailable %}
                    <tr>
                        <td>{{ boardgame.boardgames_title }}</td>
                        <td>{{ boardgame.boardgames_condition }}</td>
                        <td>{{ uboardgameer.boardgames_notes }}</td>
                        <td>{{ boardgame.created_date }}</td>
                        <td>{{ boardgame.updated_date }}</td>
                {% endfor %}
                </tbody>
    </table>
    </div>

    <div class="row">
    <table class="table table-striped table-bordered table-hover">
        {% for user in users %}
        <h2 style="padding-left: 15Px">{{user.username }}'s Board Games Wanted</h2>
        {% endfor %}
            <thead>
            <tr class="bg-info">
                <th>Board Game Title</th>
                <th>Board Game Condition</th>
                <th>Board Game Notes</th>
                <th>Date Created</th>
                <th>Date Updated</th>
            </tr>
            </thead>
                <tbody>
                {% for boardgames in BoardgamesRequested %}
                    <tr>
                        <td>{{ boardgame.boardgames_title }}</td>
                        <td>{{ boardgame.boardgames_condition }}</td>
                        <td>{{ uboardgameer.boardgames_notes }}</td>
                        <td>{{ boardgame.created_date }}</td>
                        <td>{{ boardgame.updated_date }}</td>
                {% endfor %}
                </tbody>
    </table>
    </div>
</div>
{% endblock %}
